<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/fontawsam.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/stylefb.css'  %}">
</head>
<body class='bg'>
  

 <div class="container my-2">
    {% block content %}
    {% endblock content %}
</div>
</div>
    <script src="{% static 'myapp/js/fontawesome.js' %}">   </script>
    <script src="{% static 'myapp/js/bootstrap.min.js' %}">   </script>
    <script src="{% static 'myapp/js/proper.js' %}">   </script> 
    <script src="{% static 'myapp/js/jquary.js' %}">   </script>
    <script src="{% static 'myapp/js/myjs.js' %}">   </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
        </script>

</body>
</html>

